# Модуль А

## Импорт библиотек

In [4]:
import pandas as pd
import csv

from pymongo import MongoClient
import psycopg2

## Чтение данных

В рамках данного модуля необходимо загрузить данные из различных источников. <br>
Нам требуется восстановить БД из дампов, загрузить все необходимые данные из восстановленных баз данных.

### Postgres
Для восстановления данных из PostgresSQL:
- Создадим базу данных
- Загрузим dump
- С помощью psycopg прочитаем данные в python

In [5]:
dbname = 'postgres'
user = 'postgres'
password = 'password'
port = 5432
host = '127.0.0.1'

con = psycopg2.connect(dbname=dbname,
                      user=user,
                      password=password,
                      port=port,
                      host=host)

In [7]:
sql = 'select * from план'

plan = pd.read_sql(sql, con)
plan.head(3)

/tmp/ipykernel_21563/2575960211.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  plan = pd.read_sql(sql, con)

,Субъект РФ,План Октябрь 2020 г,План Ноябрь 2020 г,План Декабрь 2020 г,План Январь 2021 г,План Февраль 2021 г,План Март 2021 г,План Апрель 2021 г,План Май 2021 г,План Июнь 2021 г,...,План Январь 2022 г,План Февраль 2022 г,План Март 2022 г,План Апрель 2022 г,План Май 2022 г,План Июнь 2022 г,План Июль 2022 г,План Август 2022 г,План Сентябрь 2022 г,План Октябрь 2022 г
0,Российская Федерация,2789237,2476191,2496136,3291089,2996162,3527756,3818890,4133205,4789780,...,3855869,3510331,4133150,4474245,4842499,5611749,7123724,7218951,6231351,5097070
1,Белгородская область,11343,10071,10151,16485,15008,17670,22358,24200,28043,...,19314,17583,20703,26196,28351,32855,31787,32212,27805,20729
2,Брянская область,8779,7794,7856,8468,7708,9077,13609,14729,17069,...,9922,9032,10635,15944,17257,19998,27749,28120,24273,16043

### MongoDB

In [9]:
client = MongoClient('localhost', port=27017)

In [18]:
# Достаем базу данных
db = client['hello1']
fact = db['Факт']
stats = db['общая_статистика']

In [21]:
fact = pd.DataFrame(list(fact.find()))
fact.head(3)

,_id,Субъект РФ,Факт Октябрь 2020 г,Факт Ноябрь 2020 г,Факт Декабрь 2020 г,Факт Январь 2021 г,Факт Февраль 2021 г,Факт Март 2021 г,Факт Апрель 2021 г,Факт Май 2021 г,...,Факт Январь 2022 г,Факт Февраль 2022 г,Факт Март 2022 г,Факт Апрель 2022 г,Факт Май 2022 г,Факт Июнь 2022 г,Факт Июль 2022 г,Факт Август 2022 г,Факт Сентябрь 2022 г,Факт Октябрь 2022 г
0,6657126e12b98442990f42b8,Калужская область,30777,22130,25670,30722,24255,34053,19428,27646,...,29356,20701,27999,33582,41725,50438,37660,40852,36173,36403
1,6657126e12b98442990f42b9,Тульская область,31853,22904,26567,20088,15860,22267,5976,8504,...,23853,16820,22751,34831,43277,52315,37028,40166,35566,27331
2,6657126e12b98442990f42ba,Московская область,358769,257971,299228,310803,245383,344505,416843,593152,...,345144,243386,329199,315471,391965,473822,294932,319929,283290,315550

In [22]:
stats = pd.DataFrame(list(stats.find()))
stats.head()

,_id,,Регион,Центр региона,Федеральный округ,Общее количество достопримечательностей,Активный отдых,Воинская слава,Гастрономический туризм,Детский отдых,...,Пляжный отдых,Приключения,Природа,Развлечения,Святыни и храмы,Сельский отдых,Театры,Традиции,Временная разница с Москвой,Численность населения
0,665714eebf955839eeb0e068,0,Алтайский край,Барнаул,Сибирский,325,40,9,5,4,...,5,8,52,22,21,7,5,4,4,2317153
1,665714eebf955839eeb0e069,2,Архангельская область,Архангельск,Северо-Западный,274,16,17,1,5,...,1,2,30,11,77,3,3,17,0,1136535
2,665714eebf955839eeb0e06a,4,Белгородская область,Белгород,Центральный,228,12,30,2,1,...,1,1,31,12,31,19,3,5,0,1549151
3,665714eebf955839eeb0e06b,1,Амурская область,Благовещенск,Дальневосточный,209,10,3,0,2,...,1,5,28,6,19,3,3,4,6,790044
4,665714eebf955839eeb0e06c,5,Брянская область,Брянск,Центральный,210,8,35,8,5,...,0,2,5,14,51,1,3,5,0,1192491

### TSKV-файл

In [8]:
data = []

with open('geo-reviews-dataset-2023.tskv', 'r', encoding='utf-8') as file:
    reader = csv.reader(file, delimiter='\t')
    for line in reader:
        row = {}
        for col in line:
            try:
                key, value = col.split('=')
                row[key] = value
            except:
                pass
        data.append(row)

reviews = pd.DataFrame(data)
reviews.head()

,address,name_ru,rating,rubrics,text
0,"Екатеринбург, ул. Московская / ул. Волгоградск...",Московский квартал,3.,Жилой комплекс,Московский квартал 2.\nШумно : летом по ночам ...
1,"Московская область, Электросталь, проспект Лен...",Продукты Ермолино,5.,Магазин продуктов;Продукты глубокой заморозки;...,"Замечательная сеть магазинов в общем, хороший ..."
2,"Краснодар, Прикубанский внутригородской округ,...",LimeFit,1.,Фитнес-клуб,"Не знаю смутят ли кого-то данные правила, но я..."
3,"Санкт-Петербург, проспект Энгельса, 111, корп. 1",Snow-Express,4.,Пункт проката;Прокат велосипедов;Сапсёрфинг,Хорошие условия аренды. \nДружелюбный персонал...
4,"Тверь, Волоколамский проспект, 39",Студия Beauty Brow,5.,"Салон красоты;Визажисты, стилисты;Салон бровей...",Топ мастер Ангелина топ во всех смыслах ) Немн...